html{
    background : #333;
}
body{
    max-width : 800px;
    margin-left : auto;
    margin-right : auto;
    margin-top : 12px;
    text-align : center;
    padding : 20px;
    box-shadow : 20px 20px 5px grey;
}
h1{
    text-align : center;
    margin-right : auto;
    margin-left : auto;
}
form{
    text-align : left;
    margin-left : auto;
    margin-right : auto;
    max-width : 400px;
    background : azure;
    padding : 12px;
    border : 1px solid black;
}
input{
    margin-bottom : 12px;
    display       : block;
}
input[type="text"]:disabled {
    background-color: white;
    color : black;
}
label{
    margin-top    : 12px;
    display       : block;
}
.warning{
    margin : 12px;
    text-align : left;
    background-color : red;
    border : 1px solid black;
    padding : 5px;
}
.warning::before{
    content: "Warning : ";
    font-weight: bold;
}
.note{
    margin : 12px;
    text-align : left;
    background-color : #fafafa;
    border : 1px solid black;
    padding : 5px;
}
.note::before{
    content: "Note : ";
    font-weight: bold;
}
p.breakSign{
    background-color : white;
    margin-top : 12px;
    border : 1px solid black;
}
p.frameInstr{
    background-color : #f5ddc1;
    margin-top : 12px;
    border : 1px solid black;
}
pre.aapFace{
    background : black;
    border : 2px ridge grey;
    white-space : none;
    width : 200px;
    margin-right : auto;
    margin-left  : auto;
}
pre.aapFaceAnim{
    animation-name : example;
    animation-duration : 2s;
    animation-iteration-count: infinite;
}
#aapFace{
    font-size : larger;
    color : lightgreen;
    font-weight : bold;
}
@keyframes example {
    0%   {background-color: black;}
    50%  {background-color: #ac1010;}
    100% {background-color: black;}
}
pre.terminal{
    background : black;
    border : 2px ridge grey;
    color : lightgreen;
    text-align : left;
}
pre.terminal .command::before{
    content : "> "
}
pre.terminal .reply{
    color : white;
}
pre.terminal .crc{
    color : red;
    font-weight : bold;
}
pre.liana{
    text-align : left;
}
.manual{
    text-align : left;
}
dt{
    font-weight : bold;
}
